{% extends 'base.html.twig' %}

{% block title %}Estate Agency - Categorie de services{% endblock %}

{% block body %}
    <main id="main">
        {# intro single #}
        {{include('categorie_de_services/partials/_intro_single.html.twig')}}
    </main>
{% endblock %}
